{% extends 'layout/search.html.j2' %}
{% from 'macros/util.html.j2' import render_comments, render_paginator,
    render_copyright, render_recordings, render_entity_ls, render_title %}

{% block resultbody %}
    <div class="center-block sub-container">
        {{ render_title(user.is_authenticated, admin_link, collection.collection_name) }}
        <hr>
        <br>
        {% if collection.image is not none %}
        <div class="fade-in" style="display:block;margin:auto;">
            <center>
                <img  src="{{ collection.image }}" alt="{{ _('Error while loading photo') }}" height="98%" width="98%">
            </center>
        </div>
        <br>
        <br>
        {% endif %}
        {{ render_comments(collection) }}
        <div class="sub-container">
        {{ render_entity_ls(_('Composers'), entities.composers) }}
        {{ render_entity_ls(_('Interpreters'), entities.interpreters) }}
        {{ render_entity_ls(_('Other'), entities.others) }}
        </div>
        <br>
        <div class="text-center">
            {% if collection.origin is not none %}
                <h4>Giro</h4>
                <h3 class="indented"> {{ collection.origin }}</h3>
                <br>
            {% endif %}
        </div>
        <br>
    </div>
    <div>
        {{ render_recordings(works.page) }}
        <div class="text-center">
            {{ render_paginator(works.page, '') }}
        </div>
    </div>
{% endblock %}
