{% extends 'layout/search.html.j2' %}
{% from 'macros/util.html.j2' import render_recordings, render_paginator %}

{% block resultbody %}
    <div class="center-block sub-container">
        <div class="row">
           <div class="col-md-9">
               {{ render_recordings(works.page) }}
           </div>
            <div class="col-md-3">
                {% include 'includes/_sidebar.html.j2' %}
            </div>
        </div>
        <div class="text-center">
            {{ render_paginator(works.page, works.search_terms) }}
        </div>
    </div>


{% endblock %}
