{%  macro non(thing) -%}
    {% if thing is defined and thing is not none %}
        {{ thing }}
    {% endif %}
{% endmacro %}

{% macro render_data_links(title, get_param, data_ls) %}
    <div>
        <h3><i>{{ title }}</i></h3>
        {% for datum in data_ls %}
            <div>
                <a href="{{ url('search') }}?term={{ datum.name }}&filter={{ get_param }}">{{ datum.name }}</a> - {{ datum.count }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}


{% macro render_title(is_authenticated, admin_url, title) %}
<div class="row">
    {% if is_authenticated %}
        <div class="col-md-10">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-md-2">
            <strong><a class="pull-right" href="{{ admin_url }}">{{ _('Edit') }}</a></strong>
        </div>
    {% else %}
         <div class="text-center">
            <h2>{{ title }}</h2>
        </div>
    {% endif %}
</div>
{% endmacro %}


{%  macro render_name_link(entity) -%}
        <a href="{{ url("entity", entity_id=entity.entity_id) }}">{{ entity.entity_name }}</a>
{% endmacro %}


{%  macro render_work_link(work) -%}
        <a href="{{ url("work", work_id=work.work_id) }}">{{ work.work_name }}</a>
{% endmacro %}

{%  macro render_entity(entity) -%}
        {{ render_name_link(entity) }} -
    {% if entity.relationship == 'Interpretación musical' %}
        {{ entity.instrument }}
    {% else %}
        {{ entity.relationship }}
    {% endif %}
        <br>
{% endmacro %}


{% macro render_entity_ls(entity_type, entities) %}
<h3>{{ entity_type|safe|title }}</h3>
<div>
    <table class="table table-striped">
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ render_name_link(entity) }}</td>
            <td>
                {% if entity.relationship == 'Interpretación musical' %}
                    {{ entity.instrument }}
                {% else %}
                    {{ entity.relationship }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endmacro %}


{% macro render_search_entity(entity_type, entities) %}
<div>
    <div class="row">
        <strong>{{ entity_type }}</strong>
    </div>
    <div class="row">
        {% for entity in entities %}
            {{ render_entity(entity) }}
        {% endfor %}
    </div>
</div>
{% endmacro %}


{% macro render_comments(work) %}
    <div>
        {% if work.commentary is not none %}
            <p class="skinny center-block"> {{ work.commentary }}</p>
            <br>
        {% endif %}
    </div>
{% endmacro %}


{% macro render_search_entities(entity) %}
<div>
    {{ render_search_entity(_('Composers'), entity.composers) }}
    {{ render_search_entity(_('Interpreters'), entity.interpreters) }}
    <div class="hide-mobile">
        {{ render_search_entity(_('Other'), entity.others) }}
    </div>
</div>
{% endmacro %}


{% macro render_paginator(page, search_terms) %}
<div class="pagination">
    {% if page.has_other_pages %}
      <ul class="pagination">
        {% if page.has_previous %}
          <li><a href="?page={{ page.previous_page_number }}&{{ search_terms }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in page.paginator.page_range %}
            {% if loop.index < 11 %}
                  {% if page.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}&{{ search_terms }}">{{ i }}</a></li>
                  {% endif %}
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
          <li><a href="?page={{ page.next_page_number }}&{{ search_terms }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
</div>
{% endmacro %}


{% macro render_copyright(work) %}
<div class="text-center center-block">
    <br><br>
    <h3>{{ _( "License" ) }}</h3>
    <p>{{ non(work.copyright) }}&nbsp{{ non(work.copyright_version) }}&nbsp{{ non(work.copyright_country) }}</p>
</div>
{% endmacro %}


{% macro render_work_dates(work) %}
<div class="row">
    <div class="col-md-5 col-sm-5 col-xs-5">
        {{ _( "Published" ) }}:
    </div>
    <div class="col-md-7 col-sm-7 col-xs-7">
         {{ work.date_published }}
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-sm-5 col-xs-5">
        {{ _( "Recorded" ) }}:
    </div>
    <div class="col-md-7 col-sm-7 col-xs-7">
         {{ work.date_recorded }}
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-sm-5 col-xs-5">
        {{ _( "Contributed" ) }}:
    </div>
    <div class="col-md-7 col-sm-7 col-xs-7">
         {{ work.date_contributed }}
    </div>
</div>
{% endmacro %}

{% macro render_recordings(list) -%}
    {% if list|length > 0 %}
        <div>
            <script>
                var audioIterator = {
                    containersIds: [],
                    audioPaths: [],
                    waveformPeaks: []
                };
            </script>
            <div>
                <table class="table">
                <tbody>
                {% for entry in list %}
                    <tr>
                        <td class="col-md-6">
                            <div class="wavesurfer-padding" id="wavesurfer-container-{{ loop.index }}">
                            </div>
                            <div class="row">
                                <a href="{{ url("work", work_id=entry.work.work_id) }}">
                                    <h3>{{ entry.work.work_name }}</h3>
                                </a>
                            </div>
                            <div>
                                {{ render_work_dates(entry.work) }}
                            </div>
                        </td>
                        <td class="col-md-6">
                            <div class="wavesurfer-padding">
                                {{ render_search_entities(entry.entities) }}
                            </div>
                            <br>
                            <div>
                                {{ _('Part of') }}:
                                <ul>
                                {% for collection in entry.in_collections %}
                                    <li><strong>
                                        <a href="{{ url('collection', collection_id=collection.id) }}">{{ collection.collection_name }}</a>
                                    </strong></li>
                                {% endfor %}
                                </ul>
                            </div>
                            <br>
                            <div class="hide-mobile">
                                {% for tag in entry.work.tags %}
                                    <strong>
                                        <a href="{{ url('search') }}?term={{ tag }}&filter=tags">{{ tag }}</a> &nbsp
                                    </strong>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <script>
                        audioIterator.containersIds.push("wavesurfer-container-{{ loop.index }}");
                        audioIterator.audioPaths.push("{{ entry.work.audio }}");
                        audioIterator.waveformPeaks.push({{ entry.work.waveform_peaks }});
                    </script>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
   {% endif %}
{% endmacro %}


{% macro render_table(name, list) -%}
    {% if list is not none %}
        <div>
            {{ name|safe|title }}
        </div>
        <div>
            <table class="table table-striped">
            <tbody>
            {% for entry in list %}
                <tr>
                    <td>{{ entry }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
   {% endif %}
{% endmacro %}
