<div class="text-center">
 <br><br>
      <br>
      <hr>
      <br>
    <div class="col-md-1 col-sm-1 col-xs-1">     
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
     <a href="https://www.enesmorelia.unam.mx/" target="_blank">   
     <img src="https://poeticasonora.unam.mx/wp-content/uploads/2022/01/logo-UNAM.jpg" width="100%"></a>       
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
     <a href="http://www.filos.unam.mx/" target="_blank"> 
     <img src="https://poeticasonora.unam.mx/wp-content/uploads/2022/01/logo-filos.jpg" width="100%"></a>       
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
     <a href="https://lleom.net/" target="_blank"> 
     <img src="https://poeticasonora.unam.mx/wp-content/uploads/2022/01/logo-lleom.jpg" width="100%"></a>       
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
     <a href="https://www.lanmo.unam.mx/" target="_blank"> 
     <img src="https://poeticasonora.unam.mx/wp-content/uploads/2022/01/logo-lanmo.jpg" width="100%"></a>       
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
     <a href="https://hexagram.ca/" target="_blank"> 
     <img src="https://poeticasonora.unam.mx/wp-content/uploads/2022/01/logo-hexagram.jpg" width="100%"></a>       
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1">     
    </div>
    <small>
    <br>
    <div align="center"><a href="https://poeticasonora.unam.mx/?p=186">Pronunciamiento</a> | <a href=" https://poeticasonora.unam.mx/?page_id=3">Privacidad</a> | <a href="https://poeticasonora.unam.mx/?page_id=663">Mapa del Sitio</a> | <a href="https://poeticasonora.unam.mx/?page_id=497">Créditos</a> | <a href="https://poeticasonora.unam.mx/?page_id=462">Contacto</a></div>
				<div align="center"><a href="https://poeticasonora.unam.mx/rda/">Repositorio Digital de Audio RDA</a></div>	
				<br>    
    </small>
    <br>
    <div style="padding: 0 45%">
      <div class="col-md-6 col-sm-12 col-xs-12">
					  <a href="https://www.facebook.com/laboratorioextendido" target="_blank">
					  <img src="https://poeticasonora.unam.mx/wp-content/uploads/2021/08/IconFacebook.png" width="30px"></a>
				  </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
					  <a href="http://www.twitter.com/_lleom_" target="_blank">
						 <img src="https://poeticasonora.unam.mx/wp-content/uploads/2021/08/IconTwitter.png" width="30px"></a>
				  </div>
			 </div>
    <br>
    <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="text-center">
      <img class="site_logo" src="https://poeticasonora.unam.mx/wp-content/uploads/2021/09/logo-simple-lr.png" alt="Poética Sonora" width="40px">
      <p><small>Derechos reservados 2022 ©<a href="https://poeticasonora.unam.mx/"> PoéticaSonora.MX</a></small></p>
     </div>
    </div>
</div>
