<div>
    <br>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12" >
            <img src="https://poeticasonora.unam.mx/wp-content/uploads/2022/01/logo-rep.jpg" class="responsive"><br><br><br><br>
    <span style="font-size: 25px;color: #76ce00;font-weight: 600;">REPOSITORIO</span><span style="font-size: 25px;font-weight: 600;"> DIGITAL DE AUDIO</span>
                                        <br>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            {% include 'includes/_searchbar.html.j2' %}
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 sub-container">
            <h3> </h3>
        </div>
    </div>
</div>
<br>
