<div>
    <br>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12" >
            <h2 style="text-align:left;float:left;">POÉTICA<i>S</i>ONORA</h2>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            {% include 'includes/_searchbar.html.j2' %}
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 sub-container">
            <h3>Voz, legibilidad, escucha</h3>
        </div>
    </div>
</div>
<br>
