{% from 'macros/util.html.j2' import render_data_links %}

<div class="sidebar-nav-fixed pull-right affix">
    <div class="well sidebar-dims hide-mobile">
        <div>
            <h3><i>{{ _('Tags') }}</i></h3>
            {% for tag in metadata.tags %}
                <a href="{{ url('search') }}?term={{ tag.name }}&filter=tags" style="font-size: {{ tag.count }}px">{{ tag.name }}</a>
            {% endfor %}
        </div>
        {{ render_data_links(_('Licenses'), 'licenses', metadata.licenses) }}
        {{ render_data_links(_('Cities'), 'cities', metadata.cities) }}
        {{ render_data_links(_('Languages'), 'languages', metadata.languages) }}
    </div>
</div>
